﻿@inject SignInManager<CustomUser> SignInManager;
@inject UserManager<CustomUser> UserManager

@using TwitterMvc.Dtos;
@using TwitterMvc.Models;
@using Microsoft.AspNetCore.Identity;
@using TwitterMvc.Dtos.QuestionAndAnswerDtos

@model TwitterMvc.Dtos.UserDtos.ProfileDto
@{
    var postDto = new PostDto();
    bool isOwnProfile = SignInManager.IsSignedIn(User) && ViewBag.UserId == null || ViewBag.UserId.ToString() == UserManager.GetUserId(User);
    string message = "";
}


<div class="row mt-4">
    <div class="col-md-3 information">
        <div class="profile-avatar">
            <img src="@ViewBag.Avatar" />
            <div class="profile-avatar-info">
                <p class="profile-avatar-info-username">@Model.Username</p>
            </div>
        </div>
        @if (ViewBag.Followed != null)
        {
            @if (ViewBag.Followed)
            {
                <form id="un-follow" asp-action="UnFollow" asp-controller="Follow" method="post" asp-route-userToUnFollowId="@ViewBag.UserId" style="display: block;">
                    <div class="follow-button">
                        <div onclick="document.getElementById('un-follow').submit();" class="btn btn-secondary follow float-left" style="width: 75%;">Unfollow</div>
                        <div class="follow-number float-left" style="width: 25%;">
                            @ViewBag.FollowersCount
                        </div>
                    </div>
                </form>
            }
            else
            {
                <form id="follow" asp-action="Follow" asp-controller="Follow" method="post" asp-route-userToFollowId="@ViewBag.UserId" style="display: block;">
                    <div class="follow-button">
                        <div onclick="document.getElementById('follow').submit();" class="btn btn-success follow float-left" style="width: 75%;">Follow</div>
                        <div class="follow-number float-left" style="width: 25%;">
                            @ViewBag.FollowersCount
                        </div>
                    </div>
                </form>
            }
        }

        <h4 class="profile-info">Information</h4>
        <div class="profile-info-field">Email: @Model.Email</div>
        <div class="profile-info-field">Name: @Model.Name @Model.Lastname</div>
        <div class="profile-info-field">Age: @Model.Age</div>
        <div class="profile-info-field">Gender: @Model.Gender</div>
        <div class="profile-info-field">Country: @Model.Country</div>

        @if (isOwnProfile)
        {
            @Html.ActionLink("Questions", "Questions", "QuestionAndAnswer", null, new { @class = "btn btn-primary mb-2", style = "width: 100%"})
            <a class="btn btn-outline-info" asp-controller="Account" asp-action="Edit" style="width: 100%;">Edit</a>
        }

        <div class="social">
            <div class="social-png">
                <img src="/img/fb.png" />
            </div>
            <div class="social-png">
                <img src="/img/ig.png" />
            </div>
            <div class="social-png">
                <img src="/img/gh.png" />
            </div>
            <div class="social-png">
                <img src="/img/yt.png" />
            </div>
        </div>
    </div>
    <div class="col-md-9 posts">
        @if (isOwnProfile)
        {
            <form asp-action="Post" method="post" class="mb-5">
                <div class="form-group">
                    <input asp-for="@postDto.Title" type="text" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                    <textarea asp-for="@postDto.Content" class="form-control" rows="3" placeholder="Content of your post..."></textarea>
                </div>
                <button type="submit" class="btn btn-success">Post</button>
            </form>
        }
        else
        {
            @using (Html.BeginForm("SendQuestion", "QuestionAndAnswer", FormMethod.Post, new { @class = "mb-5" }))
            {
                <div class="form-group">
                    @Html.TextBoxFor(m => message, new { @class = "form-control", placeholder = "Question" })
                    @Html.ValidationMessageFor(m => message, "", new { @class = "text-danger" })
                </div>
                
                string receiverId = ViewBag.UserId;
                @Html.Hidden("receiverId", receiverId)
                
                <button type="submit" class="btn btn-success">Send question</button>
            }
        }

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">@TempData["Error"]</div>
        }
        @if (ViewBag.Posts != null)
        {
           @foreach(var post in (List<GetPostDto>)ViewBag.Posts)
            {
                <div class="post">
                    @if (isOwnProfile)
                    {
                    <div class="dropdown">
                        <button class="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg class="bi bi-gear-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z" />
                            </svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <form asp-action="EditPost" method="post">
                                <input type="hidden" name="Id" value="@post.Id" />
                                <input type="hidden" name="Title" value="@post.Title" />
                                <input type="hidden" name="Content" value="@post.Content" />
                                <button type="submit" class="dropdown-item">Edit</button>
                            </form>
                            <form asp-action="DeletePost" method="post" asp-route-postId="@post.Id">
                                <button type="submit" class="dropdown-item">Delete</button>
                            </form>
                        </div>
                    </div>
                    }
                    <div class="post-title">
                        @post.Title
                    </div>
                    <div class="post-text">
                        @post.Content
                    </div>
                    <div class="post-date">
                        @post.DateTime
                    </div>
                </div>
            }  
        }
        
        @if (ViewBag.Qna != null)
                {
                   @foreach(var qna in (List<GetAnswerdQuestionDto>)ViewBag.Qna)
                    {
                        <div class="post">
                            <div class="post-title">
                                @qna.QuestionMessage
                            </div>
                            <div class="post-text">
                                @qna.AnswerMessage
                            </div>
                            <div class="post-date">
                                @qna.AnsweredTime
                            </div>
                        </div>
                    }  
                }
        
        
        
        
    </div>
</div>