@model List<TwitterMvc.Dtos.QuestionAndAnswerDtos.GetQuestionDto>
@{
    string message = "";
}

@if (ViewBag.NoQuestionMessage != null)
{
    <div class="alert alert-secondary" role="alert">@ViewBag.NoQuestionMessage</div>
}

@foreach (var question in Model)
{
    <div class="post">
        <div class="post-title">
            @question.SenderName
        </div>
        <div class="post-text">
            @question.QuestionMessage
        </div>
        @using (Html.BeginForm("AnswerToQuestion", "QuestionAndAnswer", FormMethod.Post))
        {
            @Html.TextBoxFor(m => message, new { @class = "" })
            @Html.Hidden("questionId", question.Id);
            <button type="submit" class="btn btn-success">Answer</button>
        }
    </div>
}